.inquiry-right-all {
  overflow: scroll;
  max-height: 85vh;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.inquiry-right-set {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.inquiry-right-each {
  width: 25rem;
  height: 27.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}

.inquiry-right-table-chart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 1rem;
  height: 3rem;
  color: #717171;
}

.inquiry-right-to-table-button {
  width: fit-content;
  height: 2rem;
  margin-right: 1rem;
  border: none;
  color: #717171;
  background-color: white;
}

.inquiry-right-to-chart-button {
  width: fit-content;
  height: 2rem;
  margin-right: 1rem;
  border: none;
  color: #717171;
  background-color: white;
}
