.background {
  background-image: url("../../assets/Loginnew2.png");
  display: flex;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-position: left bottom;
}

.registerbox {
  width: 27vw;
  height: 65vh;
  max-width: 500px;
  max-height: 700px;
  min-width: 350px;
  min-height: 500px;
  margin-right: -45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  background-color: #338cc1;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  padding-left: calc(5rem - 24px);
  padding-right: calc(5rem - 24px);
}

/* .registerbox > img {
  margin-top: 4vh;
  margin-bottom: 0.5vh;
} */

.registerbox > Button {
  margin: 0vh;
}

.registertext {
  font-size: 1.6rem;
  margin-top: 1vh;
}

.registerboxbottom {
  margin-top: -1vh;
  color: white;
  font-size: 2vh;
}

.registerboxbottom:hover {
  color: rgb(255, 248, 149);
}
