.fileInput > input {
  margin-left: 5rem;
  display: none;
}

.fileInput > button {
  border: none;
  border-radius: 2rem;
  width: 30vw;
  height: 65vh;
  background-color: #eeeeee;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.fileInput > button:hover {
  background-color: #dfdfdf;
}

.fileInput > img {
  width: 30vw;
  height: 65vh;
  border-radius: 2rem;
}
