.background {
  background-image: url("../assets/bgim2.png");
  display: flex;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.loginbox {
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  display: flex;
  background: transparent;
  color: white;
  backdrop-filter: blur(30px);
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: border-box;
}

.logincontext {
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  font-family: "Helvetica", sans-serif;
}

.text {
  font-family: "Helvetica", sans-serif;
  font-size: 2vh;
  color: #a6ffff;
}

/* .spinnerwapper {
  background-image: url("../assets/bgim2.png");
  display: flex;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.spinner {
  width: 5vh;
  height: 5vh;
  border: 5px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */
