.inquiry-table-ADL-all {
  width: 68vw;
  height: 85vh;
  display: flex;
}
.inquiry-table-ADL-bg {
  width: 100%;
  height: 95%;
  margin-left: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.ADL-backToRight {
  border: 0;
  background-color: white;
  font-size: 3.7rem;
  color: #c7c8cc;
  margin-left: -5rem;
}
.ADL-backToRight:hover {
  cursor: pointer;
  color: #b4b4b8;
}
.inquiry-table-ADL-head {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.inquiry-table-ADL-head p {
  margin-left: 8rem;
}

.inquiry-table-ADL-content {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inquiry-table-ADL-content-row {
  width: 58vw;
  height: 12vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.inquiry-table-ADL-content-row-talking {
  display: flex;
  flex-direction: column;
}
.inquiry-table-ADL-content-row-testdate,
.inquiry-table-ADL-content-row-chewing,
.inquiry-table-ADL-content-row-swallowing,
.inquiry-table-ADL-content-row-eyelid {
  display: flex;
  flex-direction: column;
}
.inquiry-table-ADL-content-row-breathing {
  display: flex;
  flex-direction: column;
  margin-left: 1.8rem;
}

.inquiry-table-ADL-content-row-brushTeethOrCombHair {
  display: flex;
  flex-direction: column;
  margin-left: 1.8rem;
  margin-right: -2.5rem;
}
.inquiry-table-ADL-content-row-eyelid {
  margin-left: 0.5rem;
}
.inquiry-table-ADL-content-row-ariseFromChair {
  display: flex;
  flex-direction: column;
}
.inquiry-table-ADL-content-row-sum {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inquiry-table-ADL-content-row input[type="range"] {
  width: 16vw;
  margin: 0;
}

.inquiry-table-ADL-content-row-sum input {
  border-radius: 0.7rem;
  background-color: white;
  border: 0;
  height: 5vh;
  font-size: 2rem;
  width: 5vw;
  margin-left: 1rem;
}
.inquiry-table-ADL-content-row-sum input:focus {
  outline: 0;
}

.inquiry-table-ADL-content-row-testdate input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 0.7rem;
  margin-top: 0.2rem;
}

.inquiry-table-ADL-content-row input[type="date"] {
  width: 16vw;
  height: 6vh;
  font-size: 1.3rem;
}
.inquiry-table-ADL-content-row-testdate input:focus {
  outline: 0.15rem solid #7c7b7b;
}

.inquiry-table-ADL-content-row input {
  width: 10rem;
  height: 2rem;
}
.inquiry-table-ADL-content-row input:hover {
  cursor: pointer;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 16vw;
  font-size: 1.3rem;
}

option {
  padding: 0;
}

.inquiry-table-ADL-submit {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
}
.inquiry-table-ADL-submit button {
  width: 10vw;
  height: 5vh;
  background-color: #cae7f8;
  color: #0c537b;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 1.2rem;
  border: 0;
}
.inquiry-table-ADL-submit button:hover {
  background-color: white;
  color: #0c537b;
  border: 0.15rem solid #0c537b;
  cursor: pointer;
}
