.inquiry-table-BloodTest-all {
  width: 68vw;
  height: 85vh;
  display: flex;
}
.inquiry-table-BloodTest-bg {
  width: 100%;
  height: 95%;
  margin-left: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.BloodTest-backToRight {
  width: 14vw;
  border: 0;
  background-color: white;
  font-size: 3.7rem;
  color: #c7c8cc;
}
.BloodTest-backToRight:hover {
  cursor: pointer;
  color: #b4b4b8;
}
.inquiry-table-BloodTest-head {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.inquiry-table-BloodTest-heads p {
  text-align: center;
  font-size: 2rem;
}

.inquiry-table-BloodTest-head-title {
  width: 40vw;
  display: flex;
  justify-content: center;
}
.inquiry-table-BloodTest-content-row-sum {
  width: 14vw;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inquiry-table-BloodTest-content {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 4rem;
}
.inquiry-table-BloodTest-content-row {
  width: 58vw;
  height: 12vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.BloodTest-alert-input {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 1.3rem;
}

.BloodTest-placeholder {
  position: absolute;
  top: 1.2rem;
  right: 5rem;
  color: rgb(81, 80, 80);
  font-size: 1.2rem;
}

.MuiAlert-message {
  font-size: 0.98rem;
}
.MuiAlert-root {
  margin-top: 0.5rem;
}

.inquiry-table-BloodTest-content-row-testdate,
.inquiry-table-BloodTest-content-row-ACHR,
.inquiry-table-BloodTest-content-row-TSH,
.inquiry-table-BloodTest-content-row-freeThyroxine,
.inquiry-table-BloodTest-content-row-ANA,
.inquiry-table-BloodTest-content-row-uricAcid {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 16vh;
}

.inquiry-table-BloodTest-content-row-ACHR-head,
.inquiry-table-BloodTest-content-row-TSH-head,
.inquiry-table-BloodTest-content-row-freeThyroxine-head,
.inquiry-table-BloodTest-content-row-ANA-head,
.inquiry-table-BloodTest-content-row-uricAcid-head {
  display: flex;
  align-items: center;
}
.inquiry-table-BloodTest-content-row input[type="date"] {
  font-size: 1.2rem;
}
.inquiry-table-BloodTest-content-row input[type="text"] {
  font-size: 1.7rem;
}

.inquiry-table-BloodTest-content-row input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 0.7rem;
  padding: 0.3rem;
  width: 14vw;
  height: 5vh;
  margin-top: 0.2rem;
}

.inquiry-table-BloodTest-content-row input:hover {
  cursor: pointer;
}

.inquiry-table-BloodTest-content-row input:focus {
  outline: 0.15rem solid #7c7b7b;
  cursor: text;
}

.inquiry-table-BloodTest-submit {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
}
.inquiry-table-BloodTest-submit button {
  width: 10vw;
  height: 5vh;
  background-color: #cae7f8;
  color: #0c537b;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 1.2rem;
  border: 0;
}
.inquiry-table-BloodTest-submit button:hover {
  background-color: white;
  color: #0c537b;
  border: 0.15rem solid #0c537b;
  cursor: pointer;
}
