input[type="range"]::-webkit-slider-thumb {
  border: 12px solid black;
}
.inquiry-table-Visit-all {
  width: 68vw;
  height: 85vh;
  display: flex;
}
.inquiry-table-Visit-bg {
  width: 100%;
  height: 95%;
  margin-left: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.Visit-backToRight {
  border: 0;
  background-color: white;
  font-size: 3.7rem;
  color: #c7c8cc;
  margin-left: -5rem;
}
.Visit-backToRight:hover {
  cursor: pointer;
  color: #b4b4b8;
}
.inquiry-table-Visit-head {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

.Visit-alert-input {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  font-size: 1.3rem;
}

.Visit-placeholder {
  position: absolute;
  top: 1.2rem;
  right: 5rem;
  color: rgb(81, 80, 80);
  font-size: 1.2rem;
}
.inquiry-table-Visit-content {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.inquiry-table-Visit-content-row {
  width: 58vw;
  height: 20vh;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.inquiry-table-Visit-content-row:nth-of-type(2) {
  margin-bottom: 2rem;
}

.inquiry-table-Visit-content-row input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 0.7rem;
  padding: 0.3rem;
  margin-top: 0.2rem;
  width: 14vw;
  height: 5vh;
}

.inquiry-table-Visit-content-row input[type="radio"] {
  height: 3.5vh;
}

.visit-radio-label {
  font-size: 1.3rem;
}
.inquiry-table-Visit-content-row-testDate,
.inquiry-table-Visit-content-row-left,
.inquiry-table-Visit-content-row-right,
.inquiry-table-Visit-content-row-pyridostigmine,
.inquiry-table-Visit-content-row-compesolone,
.inquiry-table-Visit-content-row-cellcept,
.inquiry-table-Visit-content-row-imuran,
.inquiry-table-Visit-content-row-prograf {
  display: flex;
  flex-direction: column;
}

.inquiry-table-Visit-content-row-SBP,
.inquiry-table-Visit-content-row-note {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 12vh;
  margin-left: 4rem;
}

.inquiry-table-Visit-content-row-DBP,
.inquiry-table-Visit-content-row-nonefornote {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 12vh;
}

.examination .inquiry-table-Visit-content-row {
  height: 4.8vh;
  display: flex;
  justify-content: space-between;
  margin-left: 6rem;
  margin-top: 2vh;
}
.radio {
  display: flex;
  width: 42vw;
}

.radio-yes,
.radio-no {
  display: flex;
}

.inquiry-table-Visit-content-row-MGFAclassification {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 12vh;
}
.subTitle {
  width: 58vw;
  height: 10vh;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  border-top: 0.15rem #eeeee8 solid;
  margin-bottom: 1rem;
}
.inquiry-table-Visit-content-row input[type="text"] {
  font-size: 1.6rem;
}
.inquiry-table-Visit-content-row input[type="text"]:focus {
  cursor: text;
}

.inquiry-table-Visit-content-row input[type="range"] {
  width: 16vw;
  margin: 0;
  padding: 0;
}

.inquiry-table-Visit-content-row-sum input {
  border-radius: 0.7rem;
  background-color: white;
  border: 0;
  height: 5vh;
  font-size: 2rem;
  width: 5vw;
  margin-left: 1rem;
}
.inquiry-table-Visit-content-row-sum input:focus {
  outline: 0;
}

.inquiry-table-Visit-content-row-testDate input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 0.7rem;
  padding: 0.3rem;
  width: 12vw;
  height: 4vh;
  margin-top: 0.2rem;
}
.inquiry-table-Visit-content-row-testDate input:focus {
  outline: 0.15rem solid #7c7b7b;
}

.inquiry-table-Visit-content-row input:hover {
  cursor: pointer;
}

.inquiry-table-Visit-content-row input[type="date"] {
  width: 14vw;
  height: 5vh;
  font-size: 1.3rem;
}
.Visit-datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 16vw;
  font-size: 1.3rem;
}

#pyridostigmine,
#compesolone,
#cellcept,
#imuran,
#prograf {
  width: 34vw;
}

.prescription-datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 34vw;
  font-size: 1.3rem;
}
option {
  padding: 0;
}

.inquiry-table-Visit-submit {
  height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
}
.inquiry-table-Visit-submit button {
  width: 10vw;
  height: 5vh;
  background-color: #cae7f8;
  color: #0c537b;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 1.2rem;
  border: 0;
}
.inquiry-table-Visit-submit button:hover {
  background-color: white;
  color: #0c537b;
  border: 0.15rem solid #0c537b;
  cursor: pointer;
}
