.background {
  background-image: url("../../assets/Loginnew2.png");
  display: flex;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-position: left bottom;
}

.loginbox {
  width: 27vw;
  height: 65vh;
  max-width: 500px;
  max-height: 700px;
  min-width: 350px;
  min-height: 500px;
  margin-right: -45vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  background-color: #338cc1;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  padding: 5rem;
  gap: 3vh;
}

.loginbox > img {
  margin-top: 2vh;
  margin-bottom: 0.5vh;
}

.loginbox > h1 {
  margin-top: 2vh;
  margin-top: -1vh;
}

.loginbox > Button {
  margin-top: 1vh;
  border-radius: 0.9rem;
}

.register-text {
  margin-top: -1vh;
  font-size: 2vh;
  color: white;
}

.loginboxbottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-text:hover {
  color: rgb(255, 248, 149);
}
