.PatientListDialog {
  .MuiPaper-root {
    border-radius: 1rem;
    max-width: 80vw;
    max-height: 120vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 14vh;
  }
  .MuiSvgIcon-root {
    fill: white;
  }
  .MuiSvgIcon-root:hover {
    background-color: transparent;
    color: rgba(41, 71, 118, 0.976);
  }
  .MuiButtonBase-root {
    border-radius: 0.7rem;
    color: #40a2d8;
  }
}
