.thymus-chart-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.thymus-chart {
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 20px;
}
.thymus-chart-header {
  width: 100%;
  height: 15%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

.thymus-chart-header p {
  font-size: 2rem;
  justify-self: center;
  margin-right: 10%;
  /* position: relative;
    right: 5%; */
}
.thymus-chart-footer {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.thymus-chart-backToRight {
  border: 0;
  background-color: white;
  font-size: 3.7rem;
  color: #c7c8cc;
  justify-self: start;
  margin-left: 1rem;
  /* position: relative;
    top: 5%;
    right: 40%; */
}

.thymus-chart-smallchart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  flex-direction: column;
}
.thymus-chart-footer-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  justify-content: space-evenly;
}
.thymus-chart-footer-left input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 0.7rem;
  padding: 0.3rem;
  width: 16vw;
  height: 5vh;
  margin-top: 0.2rem;
  align-items: center;
  font-size: 1.2rem;
}
.thymus-chart-footer-right {
  width: 50%;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-start;
  padding-top: 8rem;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
