.thymus-chart-bg {
  width: 65vw;
  height: 86vh;
  display: flex;
  justify-content: center;
}

.thymus-chart {
  width: 97%;
  height: 97%;
  background-color: white;
  border-radius: 1.8rem;
  margin-left: 5.2vw;
}
.thymus-chart-header {
  width: 100%;
  height: 15%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

.thymus-chart-header p {
  font-size: 2rem;
  justify-self: center;
  margin-right: 10%;
}
.thymus-chart-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 5rem;
}

.thymus-chart-backToRight {
  border: 0;
  background-color: white;
  font-size: 3.7rem;
  color: #c7c8cc;
  justify-self: start;
  margin-left: 1rem;
}

.thymus-chart-backToRight:hover {
  cursor: pointer;
  color: #b4b4b8;
}
.thymus-chart-smallchart {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  flex-direction: column;
  margin-bottom: 5rem;
}
.thymus-chart-footer-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  justify-content: flex-start;
}
.thymus-chart-footer-left input {
  background-color: #eeeeee;
  border: 0;
  border-radius: 0.7rem;
  padding: 0.3rem;
  width: 16vw;
  height: 5vh;
  margin-top: 0.2rem;
  align-items: center;
  font-size: 1.2rem;
}
.thymus-chart-footer-right {
  width: 40%;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
